*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  @include font-size(16);
  line-height: 1.3;
  background: bottom right / auto no-repeat url("../images/body-bg-pepper.png"),
    top left / auto no-repeat url("../images/body-bg-red-pepper.png"),
    $baseBgColor center / contain repeat url("../images/body-bg.jpg");
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

p {
  margin: 0 0 $spacerDefault * 1.5 0;
}

.header {
  @include background-image("header-bg.jpg");
  background-size: cover;
}

.section-discount {
  background-color: $baseBgLightColor;
  @include background-image("section-discount-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.discount-feetback::after {
  @include background-image("discount-feetback-img.png");
}

.section-about-company::before {
  @include background-image("about-company-img.png");
}
