$initialLightColor: #ffffff;
$initialDarkColor: #000000;

$attentionColor: #df2c37;

$baseBgColor: #646464;
$baseBgLightColor: #cfcfcf;
$easyDarkBgColor: #545353;

$baseFontColor: $initialLightColor;
$lightFontColor: #adacac;
$fontColor: #999999;
$easyDarkFontColor: #545454;
$darkFontColor: #2f2f2e;

$decorationsColor: #444343;
$lightDecarationsColor: #c0c0c0;

$spacerDefault: 10px;
