body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  @include font-size(16);
  line-height: 1.3;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.header-top {
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
}

.header-top .container {
  display: flex;
  padding: $spacerDefault 0;
}

.header-top-logo {
  margin-left: $spacerDefault * 1.5;
}

.header-top-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.header-top-nav-link {
  margin: $spacerDefault * 1.5;
  @include font-size(20);
  text-decoration: none;
  color: $attentionColor;
  border-bottom: 1px solid $attentionColor;
}

.header-top-nav-link:hover {
  border-bottom: 1px solid transparent;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacerDefault * 5;
  margin-bottom: $spacerDefault * 7;
}

.header-content-title {
  position: relative;
  padding: $spacerDefault * 3.5 $spacerDefault * 10;
  @include font-size(22);
  color: #2f2f2e;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.8)
  );
}

.header-content-title::before,
.header-content-title::after {
  content: "";
  position: absolute;
  top: $spacerDefault * -1;
  right: $spacerDefault * -1;
  display: block;
  width: 100%;
  height: 100%;
}

.header-content-title::before {
  border-right: 5px solid rgba(255, 255, 255, 0.8);
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8) 75%,
      rgba(255, 255, 255, 0) 75%
    )
    1 100%;
}

.header-content-title::after {
  border-top: 5px solid rgba(255, 255, 255, 0.8);
  border-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.8) 25%,
      rgba(255, 255, 255, 0) 25%
    )
    100% 1;
}

.header-content-title h1 {
  margin: 0 0 $spacerDefault 0;
  @include font-size(38);
  font-weight: 400;
}

.header-content-title h1 b {
  color: $attentionColor;
}

.header-content-title .btn {
  position: absolute;
  bottom: -20px;
}

.btn {
  @include button(default);
}

.input {
  padding: $spacerDefault;
  @include font-size(16);
}

.header-content-feedback {
  width: 100%;
  max-width: 310px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: $spacerDefault * 4 $spacerDefault * 3.5;
  @include font-size(16);
  text-align: center;
  color: #ffffff;
  background-color: rgba(37, 37, 37, 0.6);
  border: 5px solid rgba(255, 255, 255, 0.8);
}

.feedback-form-title {
  @include font-size(26);
  font-weight: 400;
}

.feedback-form-input {
  width: 100%;
  margin-bottom: $spacerDefault * 2;
  border: 2px solid #c0c0c0;
}

.feedback-form-submit {
  width: 100%;
}

.section-discount {
  padding: $spacerDefault * 6.5 $spacerDefault * 6 $spacerDefault * 7.5 50%;
  @include font-size(22);
  color: #929292;
  box-shadow: 2px 2px 6px 1px rgba(33, 33, 33, 0.68);
}

.section-discount p {
  margin-bottom: 0;
}

.section-discount-text {
  @include font-size(20);
  text-align: center;
  color: #929292;
  margin-bottom: $spacerDefault * 7;
}

.section-discount-top-text {
  margin-bottom: $spacerDefault * 5 !important;
  @include font-size(22);
  color: #2f2f2e;
}

.section-discount-attention {
  @include font-size(72);
  font-weight: 400;
  color: $attentionColor;
  line-height: 1;
}

.discount-feetback-important-text {
  margin-bottom: $spacerDefault * 2 !important;
  @include font-size(30);
  color: #2f2f2e;
}

.discount-feetback {
  position: relative;
  padding-left: $spacerDefault * 18;
  padding-top: $spacerDefault;
}

.discount-feetback::before,
.discount-feetback::after {
  content: "";
  position: absolute;
}

.discount-feetback::before {
  top: 0;
  left: 0;
  display: block;
  width: 150px;
  height: 150px;
  border: 7px solid #afafaf;
}

.discount-feetback::after {
  top: $spacerDefault;
  left: 7px;
  display: block;
  width: 159px;
  height: 116px;
}

.section-catalog {
  position: relative;
  padding: $spacerDefault * 3 $spacerDefault * 5 0;
}

.section-catalog-discount {
  position: absolute;
  top: 0;
  right: $spacerDefault * 5;
  width: 90px;
  height: 90px;
  padding: $spacerDefault * 2 0;
  @include font-size(20);
  text-align: center;
  text-transform: uppercase;
  color: $attentionColor;
  background-color: #ffffff;
  border: 2px solid $attentionColor;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 1px rgba(33, 33, 33, 0.68);
}

.section-catalog-title {
  margin-bottom: $spacerDefault * 4.5;
  text-align: center;
  color: #ffffff;
}

.section-catalog-title h2 {
  position: relative;
  display: inline-block;
  @include font-size(36);
  font-weight: 300;
}

.section-catalog-title b {
  font-weight: 500;
}

.section-catalog-title h2::before {
  content: "";
  position: absolute;
  top: -32px;
  left: -40px;
  z-index: -1;
  display: block;
  width: 120px;
  height: 120px;
  border: 15px solid #444343;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 30px;
}

.catalog-item-img-link {
  display: block;
  padding: $spacerDefault;
  margin-bottom: $spacerDefault * 2.5;
  background-color: #545353;
  border: 1px solid #7d7d7d;
}

.catalog-item-name {
  margin: 0;
  @include font-size(22);
  color: #ffffff;
}

.catalog-item-prices {
  display: flex;
  @include font-size(30);
  color: #999999;
}

.catalog-item-main-price {
  margin-right: $spacerDefault * 5;
}

.catalog-item-sale-price {
  font-weight: 500;
  color: $attentionColor;
}

.cross-out {
  position: relative;
}

.cross-out::after {
  content: "";
  position: absolute;
  top: 48%;
  right: -7px;
  left: -7px;
  display: block;
  height: 2px;
  background-color: $attentionColor;
  transform: rotate(-10deg);
}

.section-catalog-slider {
  padding-top: $spacerDefault * 13;
}

.section-catalog-slider-title {
  margin-bottom: $spacerDefault * 3;
  @include font-size(30);
  text-align: center;
  color: #adacac;
}

.section-catalog-slider-title p {
  margin-bottom: 0;
}

.section-catalog-slider-title h2 {
  margin: 0;
  @include font-size(40);
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-slider {
  width: 100%;
  max-width: 815px;
  margin: 0 auto;
}

.catalog-slider-item {
  position: relative;
  margin: $spacerDefault * 4 0;
}

.catalog-slider-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  border: 10px solid $attentionColor;
  transform: rotate(4deg);
}

.catalog-slider-nav {
  text-align: center;
}

.catalog-slider-nav-item {
  display: inline-block;
  margin: $spacerDefault * 0.5 $spacerDefault;
  @include font-size(20);
  text-decoration: none;
  color: #999999;
  border-bottom: 1px solid #999999;
}

.catalog-slider-nav-item:hover {
  border-bottom-color: transparent;
}

.catalog-slider-nav-item.active {
  color: #ffffff;
  border-bottom-color: transparent;
}

.catalog-slider-description {
  @include font-size(22);
  color: #adacac;
}

.section-about {
  padding: $spacerDefault * 8 $spacerDefault * 5 $spacerDefault * 6;
  margin-bottom: $spacerDefault * 12;
  background-color: #cfcfcf;
  box-shadow: 2px 2px 6px 1px rgba(33, 33, 33, 0.68);
}

.section-about-company {
  position: relative;
  padding-left: 55%;
  margin-bottom: $spacerDefault * 7;
}

.section-about-company::before {
  content: "";
  position: absolute;
  top: 0;
  right: 48%;
  z-index: 9;
  display: block;
  width: 593px;
  height: 443px;
}

.section-about-company-description {
  position: relative;
  padding: $spacerDefault * 5 $spacerDefault * 3.5 $spacerDefault * 3.5 0;
  color: #2f2f2e;
}

.section-about-company-description p {
  margin-bottom: $spacerDefault * 2;
}

.section-about-company-description::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $spacerDefault * -10;
  display: block;
  border: 10px solid #999999;
}

.section-about-title {
  margin-bottom: $spacerDefault * 3.5;
  @include font-size(20);
  font-weight: 400;
  color: #2f2f2e;
}

.section-about-title h2 {
  margin: 0;
  @include font-size(34);
  font-weight: bold;
  color: $attentionColor;
}

.team {
  display: grid;
  grid-gap: $spacerDefault * 3 $spacerDefault * 9;
  grid-template-columns: repeat(4, 1fr);
}

.person-img {
  margin-bottom: $spacerDefault * 1.5;
}

.person-name {
  margin-bottom: 0;
  @include font-size(20);
  font-weight: bold;
  color: #2f2f2e;
}

.person-description {
  margin-bottom: 0;
  color: #545454;
}

.section-feetback {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 760px;
  margin: 0 auto $spacerDefault * 12;
  padding: $spacerDefault * 5 $spacerDefault * 7;
  border: 4px solid #c0c0c0;
  border-left: none;
}

.section-feetback::before,
.section-feetback::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-left: 4px solid #c0c0c0;
}

.section-feetback::before {
  border-image: linear-gradient(to bottom, #c0c0c0 50px, transparent 50px) 1
    100%;
}

.section-feetback::after {
  border-image: linear-gradient(to top, #c0c0c0 50px, transparent 50px) 1 100%;
}

.section-feetback-title {
  padding-top: $spacerDefault * 1.5;
  margin-right: $spacerDefault * 7;
  margin-left: $spacerDefault * -14;
  @include font-size(18);
  color: #ffffff;
}

.section-feetback-title h2 {
  margin: 0;
  margin-bottom: $spacerDefault;
  @include font-size(30);
  font-weight: 400;
  text-transform: uppercase;
  color: $attentionColor;
}

.section-feetback-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 245px;
}

.section-feetback-form .input {
  margin-bottom: $spacerDefault;
  background-color: transparent;
  border: 2px solid #c0c0c0;
}

.section-feetback-form .btn {
  margin-top: $spacerDefault * 2;
}

.section-reviews {
  margin-bottom: $spacerDefault * 12;
  color: #ffffff;
}

.section-reviews-title {
  margin-bottom: $spacerDefault * 7;
  text-align: center;
}

.section-reviews-title h2 {
  margin: 0;
  @include font-size(40);
  font-weight: 400;
}

.section-reviews-content {
  display: flex;
}

.section-reviews-description {
  position: relative;
  width: 100%;
  max-width: 360px;
  padding-top: $spacerDefault * 6;
  margin-right: $spacerDefault * 6;
  @include font-size(20);
}

.section-reviews-description::before {
  content: "";
  position: absolute;
  top: $spacerDefault * 2;
  right: 75%;
  z-index: -1;
  display: block;
  width: 310px;
  height: 310px;
  border: 40px solid #444343;
}

.section-reviews-description-title {
  margin-bottom: $spacerDefault * 2.5;
  @include font-size(35);
  font-weight: bold;
}

.section-reviews-videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $spacerDefault * 3;
}

.section-reviews-video-item.big {
  grid-column: 1 / 3;
  grid-row: 1 /3;
}

.section-reviews-video-item iframe {
  width: 100%;
  height: 100%;
}

.section-thanks {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto $spacerDefault * 5;
}

.section-thanks-title {
  position: relative;
  margin-bottom: $spacerDefault * 7;
  text-align: right;
  color: #ffffff;
}

.section-thanks-title::after {
  content: "";
  position: absolute;
  top: $spacerDefault * -1.5;
  right: $spacerDefault * -4;
  z-index: -1;
  display: block;
  width: 80px;
  height: 80px;
  border: 20px solid #444343;
}

.section-thanks-title h2 {
  margin: 0;
  @include font-size(35);
}

.reviews {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.review {
  display: flex;
}

.review-media {
  flex-shrink: 0;
  margin-right: $spacerDefault * 6;
}

.review-description {
  flex-grow: 1;
  padding-top: $spacerDefault * 4;
  @include font-size(16);
  color: #999999;
}

.review-name {
  @include font-size(22);
  font-weight: bold;
  color: #ffffff;
}

.section-contacts {
  position: relative;
  box-shadow: 2px 2px 6px 1px rgba(33, 33, 33, 0.68);
}

.section-contacts .contacts {
  position: absolute;
  top: 40px;
  left: 70px;
}

.contacts {
  padding: $spacerDefault * 2;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 6px 1px rgba(33, 33, 33, 0.3);
}

.contacts h2 {
  font-weight: 400;
  color: $attentionColor;
}

.contacts-description a {
  color: #2f2f2e;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: $spacerDefault * 2.5 0 $spacerDefault;
  color: #ffffff;
}
