.header {
  &-top {
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.7)
    );

    & > div {
      display: flex;
      padding: $spacerDefault 0;
    }

    &-logo {
      margin-left: $spacerDefault * 1.5;
    }

    &-nav {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      &-link {
        margin: $spacerDefault * 1.5;
        @include font-size(20);
        text-decoration: none;
        color: $attentionColor;
        border-bottom: 1px solid $attentionColor;

        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacerDefault * 5;
    margin-bottom: $spacerDefault * 7;

    &-title {
      position: relative;
      padding: $spacerDefault * 3.5 $spacerDefault * 10;
      @include font-size(22);
      color: $darkFontColor;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.8)
      );

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: $spacerDefault * -1;
        right: $spacerDefault * -1;
        display: block;
        width: 100%;
        height: 100%;
      }

      &::before {
        border-right: 5px solid rgba(255, 255, 255, 0.8);
        border-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.8) 75%,
            rgba(255, 255, 255, 0) 75%
          )
          1 100%;
      }

      &::after {
        border-top: 5px solid rgba(255, 255, 255, 0.8);
        border-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 0.8) 25%,
            rgba(255, 255, 255, 0) 25%
          )
          100% 1;
      }

      h1 {
        margin: 0 0 $spacerDefault 0;
        @include font-size(38);
        font-weight: 400;

        b {
          color: $attentionColor;
        }
      }

      .btn {
        position: absolute;
        bottom: -20px;
      }
    }

    &-feedback {
      width: 100%;
      max-width: 310px;
    }

    &-order-btn {
      @include button("default");
    }
  }
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: $spacerDefault * 4 $spacerDefault * 3.5;
  @include font-size(16);
  text-align: center;
  color: $baseFontColor;
  background-color: rgba(37, 37, 37, 0.6);
  border: 5px solid rgba(255, 255, 255, 0.8);

  &-title {
    @include font-size(26);
    font-weight: 400;
  }

  &-input {
    @include input();
    width: 100%;
    margin-bottom: $spacerDefault * 2;
    border: 2px solid $lightDecarationsColor;
  }

  &-submit {
    @include button("default");
    width: 100%;
  }
}
